
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
    /*palette*/
    --primary-solid: #f33333;
    --primary-900: rgba(243, 51, 51, 0.9);
    --primary-500: rgba(243, 51, 51, 0.5);
    --primary-300: rgba(243, 51, 51, 0.3);

    --secondary-solid: #1d84b5;
    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);
    --secondary-300: rgba(29, 132, 181, 0.3);

    --dark-solid: #1f1f1f;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid: #30343f;
    --light-bg-solid: #fafaff;
    --light-font-solid: #ffffff;

    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.2em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-33: 3.6rem;
    --spacing-28: 2.88rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-size: 2em;
    font-family: inherit;
    color: inherit;
}

header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.jumbotron{
    padding: 100px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #aaa;
    position: relative;
}
.blur{
    position: absolute;
    background-image: url(../img/funkos-banner.webp);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
}
.filter{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: rgba(157, 42, 42, 0.3);
}
.jumbotron h3{
    font-size: 45px;
    color: white;
    text-shadow: 0 0 3px black;
}
.jumbotron p{
    font-size: 25px;
    color: white;
}
.item-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.item-section.item-selection--inverted{
    flex-direction: row-reverse;
}
.item-section .column-50{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-section .column-50 img{
    max-height: 400px;
    max-width: 400px;
    width: auto;
    margin: auto;
}
.item-section .column-50 h3{
    font-size: 35px;
}
.item-carousel h2{
    font-size: 30px;
}
.item-carousel .item-carousel-images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 50px;
}
.item-carousel .item-carousel-images article{
    flex: 1;
    max-width: 30%;
}
.item-carousel .item-carousel-images img{
    max-height: 250px;
    max-width: 250px;
    width: auto;
    margin: auto;
}
.item-carousel .item-carousel-images a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item-carousel .item-carousel-images h4{
    font-size: 25px;
    font-weight: bolder;
}
.item-carousel .item-carousel-images p{
    font-size: 22px;
}
.item-carousel .item-carousel-images p:last-child{
    color: #1d84b5;
}

.button{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
    background-color: #1f1f1f;
    border: solid 2px transparent;
    color: white;
    border-radius: 50px;
    padding: 5px 20px;
    transition: ease-in-out all 0.5s;
}
.button-white{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
    background-color: white;
    color: #1f1f1f;
    border-radius: 50px;
    padding: 7px 20px;
    transition: ease-in-out all 0.5s;
}
.button:hover{
    background-color: white;
    color: #1f1f1f;
    border: solid 2px #1f1f1f;
}
.button-white:hover{
    background-color: #ccc;
}