
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    color: #111111;
}

a {
    text-decoration: none;
    font-size: 2em;
    font-family: inherit;
    color: inherit;
}

header,
footer {
    font-family: 'Raleway', sans-serif;
    color: white;
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}